alabaster==1.0.0
alembic==1.17.2
AutoWoE==1.3.4
babel==2.17.0
catboost==1.2.8
certifi==2025.11.12
charset-normalizer==3.4.4
cmaes==0.12.0
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cycler==0.12.1
docutils==0.21.2
filelock==3.20.0
fonttools==4.60.1
fsspec==2025.10.0
graphviz==0.21
greenlet==3.2.4
holidays==0.85
idna==3.11
imagesize==1.4.1
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.5.2
json2html==1.3.0
kiwisolver==1.4.9
LightAutoML==0.4.1
lightgbm==4.6.0
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.7
mpmath==1.3.0
narwhals==2.12.0
networkx==3.6
numpy==1.26.4
optuna==4.6.0
packaging==25.0
pandas==2.3.3
patsy==1.0.2
pillow==12.0.0
plotly==6.5.0
pluggy==1.6.0
poetry-core==1.9.1
Pygments==2.19.2
pyparsing==3.2.5
pytest==9.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
roman-numerals-py==3.1.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
six==1.17.0
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.44
statsmodels==0.14.0
StrEnum==0.4.15
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.9.1
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
xgboost==2.1.4
